<nav class="col-sm-12 col-md-4">
     <h2>Product List</h2>
    <ul class="list-unstyled">
        <li><a href="#excuse-generator" class="list-item">Excuse Generator</a></li>
        <li><a href="#savings-doggy" class="list-item">Savings Doggy</a></li>
        <li><a href="#anti-drip-cup" class="list-item">Anti Drip Cup</a></li>
        <li><a href="#smart-spoon" class="list-item">Smart Spoon</a></li>
        <li><a href="#headphone-untangler" class="list-item">Headphone Untangler</a></li>
        <li><a href="#iwallet" class="list-item">iWallet</a></li>
        <li><a href="#universal-charger" class="list-item">Universal Charger</a></li>
        <li><a href="#magic-bottle" class="list-item">Magic Bottle</a></li>
        <li><a href="#u-u-frisbee" class="list-item">Ultimate Ultimate Frisbee</a></li>
        <li><a href="#smelly-tape" class="list-item">Smelly Tape</a></li>
    </ul>
</nav>
<main class="col-sm-12 col-md-8">
    <div class="row">

        <div class="card col-sm-12 col-md-6 col-lg-4" id="excuse-generator">
            <img class="card-img-top" src="public/images/eg.jpg" alt="excuse-generator">
            <div class="card-block">
                <h2 class="card-title">Excuse Generator</h2>
                <p class="card-text">A machine to get you out of anything. ANYTHING.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#EGModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="EGModal" tabindex="-1" role="dialog" aria-labelledby="EGModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="EGModalLabel">Excuse Generator</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="card-img-top" src="public/images/eg.jpg" alt="excuse-generator">
                        <h4 class="modal-subtitle">Description:</h4>
                        <p>
                            Imagine you're stuck in a meeting with coworkers you hate. Imagine your annoying aunt has invited you over for thanksgiving.
                            Imagine your son's teacher has asked you to volunteer at his school's prom.
                            <br> Scared yet? Good. Buy an Excuse Generator to generate excuses and get out of these nightmares!
                        </p>
                        <h4 class="modal-subtitle">Reviews: ★★★★</h4>
                        <p class="review">
                            "The Excuse Generator changed my life" - Elon Musk
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card col-sm-12 col-md-6 col-lg-4" id="savings-doggy">
            <img class="card-img-top" src="public/images/sd.jpg" alt="savings-doggy">
            <div class="card-block">
                <h2 class="card-title">Savings Doggy</h2>
                <p class="card-text">This dog can make you money, and not in the way you
                    think.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#savings-doggyModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="savings-doggyModal" tabindex="-1" role="dialog" aria-labelledby="savings-doggyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="savings-doggyModalLabel">Savings Doggy</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <img class="card-img-top" src="public/images/sd.jpg" alt="savings-doggy">
                        <h4 class="modal-subtitle">Description:</h4>
                        <p>
                            Having a pet is just like having a kid. At least expense-wise.
                            <br> If you're worried that buying a dog is going to burn a hole in your pocket, don't buy one.
                            Buy a Savings Doggy. Well, to raise it is going to cost you real money, but the difference is
                            that that money will be sent right into your savings bank account.
                        </p>
                        <h4 class="modal-subtitle">Reviews: ★★★★★</h4>
                        <p class="review">
                            "This idea will break Wall Street" - Warren Buffet
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card col-sm-12 col-md-6 col-lg-4" id="anti-drip-cup">
            <img class="card-img-top" src="public/images/adc.jpg" alt="Anti Drip Cup">
            <div class="card-block">
                <h2 class="card-title">Anti Drip Cup</h2>
                <p class="card-text">No more coffee stains.</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#anti-drip-cupModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="anti-drip-cupModal" tabindex="-1" role="dialog" aria-labelledby="anti-drip-cupLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="anti-drip-cupLabel">Anti Drip Cup</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <img class="card-img-top" src="public/images/adc.jpg" alt="Anti Drip Cup">
                        <h4 class="modal-subtitle">Description:</h4>
                        <p>
                            Have you ever had coffee drip off the side of your cup? Are you a messy person? The Anti Drip Cup is for you then.
                            Throw out those cleaning products!
                        </p>
                        <h4 class="modal-subtitle">Reviews: ★★★</h4>
                        <p class="review">
                            "I'm broke now because of this stupid cup" - Mr. Clean
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card col-sm-12 col-md-6 col-lg-4" id="smart-spoon">
            <img class="card-img-top" src="public/images/ss.jpg" alt="Smart Spoon">
            <div class="card-block">
                <h2 class="card-title">Smart Spoon</h2>
                <p class="card-text">Who has normal cutlery in 2017?</p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#smart-spoonModal">Learn More</button>
            </div>
        </div>

        <div class="modal fade" id="smart-spoonModal" tabindex="-1" role="dialog" aria-labelledby="smartSpoonLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="smartSpoonLabel">Smart Spoon</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <img class="card-img-top" src="public/images/ss.jpg" alt="Smart Spoon">
                        <h4 class="modal-subtitle">Description:</h4>
                        <p>
                            Never burn your tounge again, with the high temperature alert feature that comes installed in every Smart Spoon.
                            <br> Regulate the temperature of food and soups alike, with no need to worry about losing your tongue. Wi-Fi enabled. Dishwasher safe.
                        </p>
                        <h4 class="modal-subtitle">Reviews: ★★★★★</h4>
                        <p class="review">
                            "What a f**** brilliant invention" - Gordon Ramsay
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
    </div>


    <div class="card col-sm-12 col-md-6 col-lg-4" id="headphone-untangler">
        <img class="card-img-top" src="public/images/hu.jpg" alt="Headphone Untangler">
        <div class="card-block">
            <h2 class="card-title">Headphone Untangler</h2>
            <p class="card-text">End your destructive relationship with tangled headphones today.</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#headphone-untanglerModal">Learn More</button>
        </div>
    </div>

    <div class="modal fade" id="headphone-untanglerModal" tabindex="-1" role="dialog" aria-labelledby="headphone-untanglerLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="headphone-untanglerLabel">Headphone Untangler</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" src="public/images/hu.jpg" alt="headphone-untangler">
                    <h4 class="modal-subtitle">Description:</h4>
                    <p>
                        It's pretty simple. Tangled headphones go into one end, and come out untangled from the other.
                        <br> How does it work? Well if we tell you that we'll have to kill you later. Patent pending.
                    </p>
                    <h4 class="modal-subtitle">Reviews: ★★★★</h4>
                    <p class="review">
                        "If I knew about this, I wouldn't bother with wireless headphones" - Dr. Dre
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card col-sm-12 col-md-6 col-lg-4" id="iwallet">
        <img class="card-img-top" src="public/images/iw.png" alt="iwallet">
        <div class="card-block">
            <h2 class="card-title">iWallet</h2>
            <p class="card-text">Normal wallets in 2017? This is worse than cutlery!</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#iwalletModal">Learn More</button>
        </div>
    </div>

    <div class="modal fade" id="iwalletModal" tabindex="-1" role="dialog" aria-labelledby="iwalletModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="iwalletModalLabel">iWallet</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" src="public/images/iw.png" alt="iWallet">
                    <h4 class="modal-subtitle">Description:</h4>
                    <p>
                        We believe that security of your cash and credit cards is more important than security of your Instagram. Presenting, the iWallet.
                        <br> It comes with novel features like finger print unlocking, Find My iWallet, and USB C charging.
                    </p>
                    <h4 class="modal-subtitle">Reviews: ★★★★★</h4>
                    <p class="review">
                        "They beat us to the market" - Tim Cook
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card col-sm-12 col-md-6 col-lg-4" id="universal-charger">
        <img class="card-img-top" src="public/images/uc.jpg" alt="Universal Charger">
        <div class="card-block">
            <h2 class="card-title">Universal Charger</h2>
            <p class="card-text">No need to carry a million chargers when one can do the job.</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#universal-chargerModal">Learn More</button>
        </div>
    </div>

    <div class="modal fade" id="universal-chargerModal" tabindex="-1" role="dialog" aria-labelledby="universal-chargerLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="universal-chargerLabel">Universal Charger</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" src="public/images/uc.jpg" alt="Universal Charger">
                    <h4 class="modal-subtitle">Description:</h4>
                    <p>
                        How many devices do you own? How many chargers? Our reserach suggests they are the same amount. And that is a lot.
                        <br> The Universal Charger is a wireless charging pad, which charges just about anything and everything. Throw on your laptop, your phone, your smart watch and even your iWallet.
                    </p>
                    <h4 class="modal-subtitle">Reviews: ★★★★</h4>
                    <p class="review">
                        "I take my UC everywhere I go" - Lady Gaga
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card col-sm-12 col-md-6 col-lg-4" id="magic-bottle">
        <img class="card-img-top" src="public/images/mb.png" alt="magic-bottle">
        <div class="card-block">
            <h2 class="card-title">Magic Bottle</h2>
            <p class="card-text">A new drink everytime.</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#magic-bottleModal">Learn More</button>
        </div>
    </div>

    <div class="modal fade" id="magic-bottleModal" tabindex="-1" role="dialog" aria-labelledby="magic-bottleLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="magic-bottleLabel">Magic Bottle</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" src="public/images/mb.png" alt="magic-bottle">
                    <h4 class="modal-subtitle">Description:</h4>
                    <p>
                        This is for those who like to experiment. Who don't settle for the ordinary. It's downright magic.
                        <br> Uncap to sip a new drink everytime. Consistently. We add new drinks everyday to our servers in the cloud.
                    </p>
                    <h4 class="modal-subtitle">Reviews: ★★★★★</h4>
                    <p class="review">
                        "I only order Magic Bottles when I'm up in the club bro" - Kanye West
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card col-sm-12 col-md-6 col-lg-4" id="u-u-frisbee">
        <img class="card-img-top" src="public/images/uuf.jpg" alt="u-u-frisbee">
        <div class="card-block">
            <h2 class="card-title">Ultimate Ultimate Frisbee</h2>
            <p class="card-text">Better than a regular Frisbee, not as good as a drone.</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#u-u-frisbeeModal">Learn More</button>
        </div>
    </div>

    <div class="modal fade" id="u-u-frisbeeModal" tabindex="-1" role="dialog" aria-labelledby="u-u-frisbeeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="u-u-frisbeeLabel">Ultimate Ultimate Frisbee</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" src="public/images/uuf.jpg" alt="u-u-frisbee">
                    <h4 class="modal-subtitle">Description:</h4>
                    <p>
                        UF will never be the same anymore. The UUF comes with features like mid-air direction changing, speed regulation, and spin engines.
                        <br> You can also change its light color to anything you want!
                    </p>
                    <h4 class="modal-subtitle">Reviews: ★★★★★</h4>
                    <p class="review">
                        "I am planning to join UF, armed with the UUF" - LeBron James
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card col-sm-12 col-md-6 col-lg-4" id="smelly-tape">
        <img class="card-img-top" src="public/images/st.jpg" alt="smelly-tape">
        <div class="card-block">
            <h2 class="card-title">Smelly Tape</h2>
            <p class="card-text">Why get tape that doesn't smell wonderful?</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#smelly-tapeModal">Learn More</button>
        </div>
    </div>

    <div class="modal fade" id="smelly-tapeModal" tabindex="-1" role="dialog" aria-labelledby="smelly-tapeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="smelly-tapeLabel">Smelly Tape</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" src="public/images/st.jpg" alt="smelly-tape">
                    <h4 class="modal-subtitle">Description:</h4>
                    <p>
                        Regular duct tape stinks. Literally. Smelly tape is a delicious twist on its regular counterpart.
                        <br> With smells like "New Car", "Gasoline", "Fruit Punch" and "Water" to choose from, they sell out quickly. Not edible.
                    </p>
                    <h4 class="modal-subtitle">Reviews: ★★★</h4>
                    <p class="review">
                        "I only buy the water ones and they dont smell at all" - Michael Phelps
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>