<nav>
    <h1>Jay's Favorite TV Shows:</h1>
    <ul class="list-unstyled">
        <li><a href="#westworld">Westworld</a></li>
        <li><a href="#jessica-jones">Jessica Jones</a></li>
        <li><a href="#black-mirror">Black Mirror</a></li>
        <li><a href="#rick-and-morty">Rick and Morty</a></li>
        <li><a href="#the-office">The Office</a></li>
        <li><a href="#narcos">Narcos</a></li>
        <li><a href="#game-of-thrones">Game of Thrones</a></li>
        <li><a href="#breaking-bad">Breaking Bad</a></li>
        <li><a href="#daredevil">Daredevil</a></li>
        <li><a href="#luke-cage">Luke Cage</a></li>
    </ul>
</nav>
<main>
    <div class="flex-container">
        <article id="westworld">
            <img src="public/images/ww.jpg" alt="Westworld" class="showimg">
            <h2 class="showtitle">West World</h2>
            <hr>

            <p class="showdesc">A Western-themed futuristic theme park, populated with androids, allows high-paying guests to live out their fantasies with no retaliation from the android hosts, until now.</p>
        </article>

        <article id="jessica-jones">
            <img src="public/images/jj.jpg" alt="Jessica Jones" class="showimg">
            <h2 class="showtitle">Jessica Jones</h2>
            <hr>
            
            <p class="showdesc">A former superhero decides to reboot her life by becoming a private investigator.</p>
        </article>

        <article id="black-mirror">
            <img src="public/images/bm.jpg" alt="Black Mirror" class="showimg">
            <h2 class="showtitle">Black Mirror</h2>
            <hr>

            <p class="showdesc">A television anthology series that shows the dark side of life and technology.</p>
        </article>

        <article id="rick-and-morty">
            <img src="public/images/rm.jpg" alt="Rick and Morty" class="showimg">
            <h2 class="showtitle">Rick and Morty</h2>
            <hr>

            <p class="showdesc">An animated series that follows the exploits of a super scientist and his not so bright grandson.
            </p>
        </article>

        <article id="the-office">
            <img src="public/images/to.jpg" alt="The Office" class="showimg">
            <h2 class="showtitle">The Office</h2>
            <hr>

            <p class="showdesc">A show on a group of typical office workers, where the workday consists of ego clashes, inappropriate behavior,
                and tedium.</p>
        </article>

        <article id="narcos">
            <img src="public/images/narcos.jpg" alt="Narcos" class="showimg">
            <h2 class="showtitle">Narcos</h2>
            <hr>

            <p class="showdesc">A chronicled look at the criminal exploits of Colombian drug lord Pablo Escobar.</p>
        </article>

        <article id="game-of-thrones">
            <img src="public/images/got.jpg" alt="Game of Thrones" class="showimg">
            <h2 class="showtitle">Game of Thrones</h2>
            <hr>

            <p class="showdesc">Nine noble families fight for control over the mythical lands of Westeros. Meanwhile, a old race hell-bent on
                destruction returns after being dormant for thousands of years.</p>
        </article>

        <article id="daredevil">
            <img src="public/images/dd.jpg" alt="Daredevil" class="showimg">
            <h2 class="showtitle">Dare Devil</h2>
            <hr>

            <p class="showdesc">Matt Murdock, with his other senses super humanly enhanced, fights crime as a blind lawyer by day, and vigilante
                by night.</p>
        </article>

        <article id="breaking-bad">
            <img src="public/images/bb.jpg" alt="Breaking Bad" class="showimg">
            <h2 class="showtitle">Breaking Bad</h2>
            <hr>

            <p class="showdesc">A high school chemistry teacher diagnosed with inoperable lung cancer turns to making and selling meth in order to secure his family's future..</p>
        </article>

        <article id="luke-cage">
            <img src="public/images/lc.jpg" alt="Luke Cage" class="showimg">
            <h2 class="showtitle">Luke Cage</h2>
            <hr>

            <p class="showdesc">Given superstrength and durability by a sabotaged experiment, a wrongly accused man escapes prison to become
                a superhero for hire.</p>
        </article>


    </div>
</main>